<!DOCTYPE html>
<html>
    <head>
        <title>View Profile</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/styles3.css">
        <link href="/css/stylesPost.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=DM+Serif+Text:ital@0;1&family=Play:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="d-flex justify-content-between align-items-center header-area">
            <!-- Home button -->
            <div class="d-flex home2">
            <a class="home" href="/">
                <span style="color: rgb(139, 235, 139);">
                Green
                </span>
                Tech
            </a>
            </div>

            <div class="d-flex align-items-center ms-auto">

            <!-- Search bar -->
            <div class="input-group search-bar">
                <input
                type="text"
                class="form-control form-control-search border-end-0"
                placeholder="Search"
                />
                <button
                class="btn btn-outline-secondary btn-search border-start-0"
                type="button"
                >
                🔍
                </button>
            </div>
            </div>

            <!-- Profile picture and username -->
            <div class="d-flex align-items-center position-relative">
            <div class="rounded-circle overflow-hidden pfp-topright">
            <button type="button" id="profileDropdownBtn">
                <img src="{{loggedInUserData.profilePic}}" class="sample-pic-profile"> 
            </button>
            </div>
                <div id="profileDropdown" class="profile-dropdown">
                    <a href="/viewProfile">View Profile</a>
                    <a href="/logout">Logout</a>
                </div>
            
            <p class="mb-0 ms-1">{{loggedInUserData.username}}</p>
            </div>
        </div>

        <div class="top-div">
            <img src="{{data.user.profilePic}}" class="sample-pic-profile"> 

            <div class="action-divs">
                <div class="top-action-div">
                    <p class="profile-username">{{data.user.username}}</p>
                </div>

                <p class="bio-tag">{{data.user.bio}}</p>

                {{#if data.user.github}}
                    <a href="{{data.user.github}}" class="github-tag">🔗 Github</a>
                {{/if}}
            </div>
        </div>

        <div class="button-div"> 
            <button class="posts-button" id="postsBtn" onclick="window.location.href='/viewUserProfile/{{data.user._id}}'">Posts</button>

            <button class="comments-button" id="commentsBtn" onclick="window.location.href='/viewUserProfile1/{{data.user._id}}'">Comments</button>

            <button class="likes-button" id="likesBtn" onclick="window.location.href='/viewUserProfile2/{{data.user._id}}'">Likes</button>
        </div>

        <hr class="horizontal-line">

        <div class="div-comments">
            {{#each data.comments}}
                <div class="comment-1">
                    <div class="header-comment1">
                        <span class="comment-subject-tag1">{{this.postID.tag}}</span>
                        <p class="title-post1">&#x2022 {{this.postID.title}} &#x2022 <span style="color: aquamarine">{{this.postID.userID.username}}</span></p>
                    </div>
                        
                    <p class="date-comment1">commented 2 mo. ago</p>

                    <p class="comment">{{this.content}}</p>

                    <div class="actions">
                        <i class="bi bi-star"></i>

                        <i class="bi bi-chat"></i>

                        <i class="bi bi-share"></i>

                    </div>          
                </div>
            {{/each}}
        </div>

    <script src="js/script4.js" defer></script>
    </body>
</html>